body {
  background-color: #11111b;
  font-family: "Roboto", sans-serif;
  color: #cdd6f4;
}
.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #313244;
  background-color: #1e1e2e;
  max-height: 300px;
  overflow: hidden;
}
